<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/15ce0165-d0a7-4189-8a96-aaf05633f42d/resourcegroups/MicroLoanFoundation/providers/Microsoft.Web/sites/MLFZUssdApplicationProduction</ResourceId>
    <ResourceGroup>MicroLoanFoundation</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mlfzussdapplicationproduction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d9039d30-f4a7-4989-9b3b-3488a0c6acfd</ProjectGuid>
    <PublishUrl>https://mlfzussdapplicationproduction.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MLFZUssdApplicationProduction</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>